<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.banana.banana">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyList"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Banana"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Gmail API Android Quickstart"></activity>
        <activity android:name=".OpenCamera">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditSpecifics" />
        <activity android:name=".EditReceipt" />
        <activity android:name=".AddOrder" />
        <activity
            android:name=".Checkout"
            android:parentActivityName=".EditReceipt" />
        <activity
            android:name=".SelectItems"
            android:parentActivityName=".Checkout" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainReceipt"></activity>
    </application>

</manifest>